@tailwind base;
@tailwind components;
@tailwind utilities;

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    background-color: none; /* Modifier la couleur de fond */
    color: #fff; /* Modifier la couleur de texte */
    background-image: none;
}

.btncreate {
    background-color: blue;
}

.btndelete {
    background-color: red;
}

.btnupdate {
    background-color: blue;
}